* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto; 
}

@media (min-width: 375px) {
	.container {
		max-width: 375px;
	}	
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 960px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: 1360px;
	}
}

.header {
	display: inline-block;
	margin: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 126px; 
	background-color: #ffffff;
	z-index: 1;  
}

.header-container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
}

nav {
	background-color: #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-menu {
	font-size: 11px;
	font-weight: 800;
	display: flex;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

li a {
	display: block;
	text-align: center;
	margin: 0 60px;
	color: #002749;
}

a {
	text-decoration: none;
}

.logo {
 position: absolute;
 top: 44px;
 left: 80px;
}

div.burger {
	position: relative;
	width: 60px;
	height: 60px;
	left: 300px;
	top: 64px;
	cursor: pointer;	
}

div.x, div.y, div.z {
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;		
	background: #002749;
	border-radius:2px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}	

div.y {
	height: 2px;
	width: 44px;
	position: absolute;
	top: 18px;
	right: 26px;
}

div.x, div.z { 
	height: 2px;
	 width: 33px; 
}

div.z{
	top: 37px;
}

div.collapse{
	top: 20px;
	background:#002749;;
	-webkit-transition: all 70ms ease-out;
	-moz-transition: all 70ms ease-out;
	-ms-transition: all 70ms ease-out;
	-o-transition: all 70ms ease-out;
	transition: all 70ms ease-out;
}
	

div.rotate30{
	-ms-transform: rotate(30deg); 
	-webkit-transform: rotate(30deg); 
	transform: rotate(30deg);	
	-webkit-transition: all 50ms ease-out;
		-moz-transition: all 50ms ease-out;
		-ms-transition: all 50ms ease-out;
			-o-transition: all 50ms ease-out;
			transition: all 50ms ease-out;					
}
div.rotate150{
	-ms-transform: rotate(150deg); 
	-webkit-transform: rotate(150deg); 
	transform: rotate(150deg);	
	-webkit-transition: all 50ms ease-out;
		-moz-transition: all 50ms ease-out;
		-ms-transition: all 50ms ease-out;
			-o-transition: all 50ms ease-out;
			transition: all 50ms ease-out;					
}

div.rotate45{
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);	
	-webkit-transition: all 100ms ease-out;
		-moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
			-o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;					
}

div.rotate135{
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);	
	-webkit-transition: all 100ms ease-out;
		-moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
			-o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;					
}

div.navbar{height:73px;background:#002749;}

div.circle{	
	border-radius: 50%;
	width: 0px;
	height: 0px; 
	position:absolute;
	top: 35px;
	left: 36px;
	background:#002749;
	opacity:1;
	-webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
div.circle.expand{
	width:1200px;
	height:1200px;
	top: -560px;
	left: -565px; 	
	-webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	-o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);					

}

.background__main-section {
	position: relative;
	width: 1128px;
	height: 462px;
	background: url(../img/index-background.svg) no-repeat;
	top: 138px;

}

.background__main {
	width: 896px;
	height: 193px;
	position: absolute;
	top: 97px;
	left: 121px;
	background-color: #002749;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.02em;
}

.main__title {
	color: #ffffff;
	position: absolute;
	width: 758px;
	left: 26px;
	right: 112px;
	top: 42px;
	bottom: 71px;
	margin: 0px;
}

.main__title-decoration {
	color: #7DCEF1;
}

.arrow {
	position: absolute;
	font-size: 70px;
	width: 151px;
	height: 11px;
	color: #ffffff;
	left: 800px;
	top: 100px;
}

.footer {
	position: relative;
	height: 122px;
	top: 188px;
}

.certification {
	position: absolute;
	width: 252px;
	height: 19px;
	left: 80px;
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: rgba(0, 39, 73, 0.66);
}

.social {
	display: flex;
	width: 41px;
	height: 19px;
}

.social__link {
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.02em;
	padding-right: 46px;
}
